In [1]:
50 % 5

0

In [3]:
mystring = 'Hello World'

In [4]:
mystring

'Hello World'

In [5]:
mystring[0]

'H'

In [6]:
mystring[8]

'r'

In [7]:
mystring[-2]

'l'

In [8]:
mystring = 'abcdefghijk'

In [9]:
mystring

'abcdefghijk'

In [10]:
mystring[2]

'c'

In [11]:
mystring[2:]

'cdefghijk'

mystring[:3]

In [12]:
mystring[:4]

'abcd'

In [13]:
mystring[3:6]

'def'

In [14]:
mystring[1:3]

'bc'

In [15]:
mystring[::2]

'acegik'

In [16]:
mystring[2:7:2]

'ceg'

In [17]:
mystring[::-1]

'kjihgfedcba'

Immutability - Cannot Change

In [5]:
name = "Sam"

In [7]:
last_letters = name[1:]

In [8]:
last_letters

'am'

String Concatenation

In [9]:
'P' + last_letters

'Pam'

In [10]:
x = 'Hello World'

In [12]:
x = x + ' it is beautiful outside'

In [13]:
x

'Hello World it is beautiful outside'

In [14]:
letter = 'z'

In [15]:
letter * 10

'zzzzzzzzzz'

In [16]:
x = 'Hello World'

In [17]:
x.upper()

'HELLO WORLD'

In [18]:
x.lower()

'hello world'

In [19]:
x.split()

['Hello', 'World']

In [20]:
x = "Hi this is a string"

In [21]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [22]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

Formatting with the .format() method

'String here {} then also {}'.format('something1','something2')

In [23]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [25]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [26]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [27]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

Float formatting follows "{Value:width.precision f}"

Width creates whitespace
precisision determines the number of decimal points

In [28]:
result = 100/777

In [29]:
result

0.1287001287001287

In [31]:
print('The result was {r:1.3f}'.format(r = result))

The result was 0.129

In [32]:
name = "Jose"

In [33]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [35]:
name = "Same"
age = 3

In [36]:
print(f'{name} is {age} years old.')

Same is 3 years old.

Lists

In [37]:
my_list = ['STRING',100,23.2]

In [39]:
len(my_list)

3

In [40]:
my_list = ['one', 'two', 'three']

In [43]:
my_list[0]

0

In [44]:
my_list = ['one', 'two', 'three']

In [45]:
my_list[0]

'one'

In [46]:
my_list[1:]

['two', 'three']

In [48]:
another_list = ['four', 'five']

In [50]:
new_list = my_list + another_list

In [51]:
new_list

['one', 'two', 'three', 'four', 'five']

In [52]:
new_list[0] = 'ONE ALL CAPS'

In [53]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [54]:
new_list.append('six')

In [55]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [56]:
new_list.append('seven')

In [57]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

pop() - removes the last item from the end of a list

In [58]:
new_list.pop()

'seven'

In [59]:
popped_item = new_list.pop()

In [60]:
popped_item

'six'

In [61]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [62]:
new_list.pop(0)

'ONE ALL CAPS'

In [63]:
new_list

['two', 'three', 'four', 'five']

In [4]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [2]:
new_list.sort()

In [5]:
new_list

['a', 'e', 'x', 'b', 'c']

In [6]:
new_list.sort()

In [7]:
new_list

['a', 'b', 'c', 'e', 'x']

In [9]:
my_sorted_list = new_list.sort()

In [11]:
type(my_sorted_list)

NoneType

In [12]:
num_list

[4, 1, 8, 3]

In [15]:
num_list.sort()

In [16]:
num_list

[1, 3, 4, 8]

In [14]:
num_list.reverse()

In [17]:
num_list

[1, 3, 4, 8]

In [18]:
num_list.reverse()

In [19]:
num_list

[8, 4, 3, 1]

Dictionaries
-unordered mappings for storing objects using a key-value pair

In [20]:
my_dict = {'key1': 'colts', 'key2': 'jaguars'}

In [21]:
my_dict

{'key1': 'colts', 'key2': 'jaguars'}

In [23]:
my_dict['key1']

'colts'

In [24]:
prices_lookup = {'apple': 2.99, 'oranges':1.99, 'milk': 5.90}

In [25]:
prices_lookup['apple']

2.99

In [28]:
d = {'k1': 123, 'k2':[0,1,2],'k3':{'insideKey':100}}

In [31]:
d['k2'][2]

2

In [33]:
d = {'key1':['a','b','c']}

In [34]:
mylist = d['key1']

In [35]:
letter = mylist[2]

In [36]:
letter

'c'

In [37]:
letter.upper()

'C'

In [30]:
d['k3']['insideKey']

100

In [38]:
d = {'k1': 100, 'k2': 200}

In [39]:
d

{'k1': 100, 'k2': 200}

In [40]:
d['k3'] = 300

In [44]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [45]:
d['k1'] = 'NEW VALUE'

In [46]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

Returns Keys

In [47]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

returns values

In [48]:
d.values()

dict_values(['NEW VALUE', 200, 300])

returns keys AND values

In [49]:
d.items()

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

Tuples
- they are immutable (can't be changed)

In [50]:
t = (1,2,3)

In [51]:
mylist = [1,2,3]

In [52]:
len(t)

3

In [53]:
t = ('one',2)

In [54]:
t[0]

'one'

In [55]:
t[-1]

2

In [57]:
t[::-1]

(2, 'one')

In [58]:
t = ('a', 'a', 'b')

In [60]:
t.count('a')

2

In [61]:
mylist[0] = 'new'

In [62]:
mylist

['new', 2, 3]

In [63]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

Sets - unordered collections of unique elements

In [65]:
myset = set()

In [67]:
myset.add(1)

In [68]:
myset

{1}

In [69]:
myset.add(2)

In [70]:
myset

{1, 2}

Does not add a second 2 value

In [71]:
myset.add(2)

In [72]:
myset

{1, 2}

In [73]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3]

In [74]:
set(mylist)

{1, 2, 3}

Boolean Values

In [76]:
type(False)

bool

In [77]:
1 > 2

False

In [79]:
1 == 1

True